#parent{
    width: 500px;
    height: 500px;
    background-color: aquamarine;
}

.red{
    width: 100px;
    height: 100px;
    background-color: blueviolet;
}

.blue{
    width: 100px;
    height: 100px;
    background-color: brown;
    position: relative;
    /* left: -50; */
    /* left: 200px; */
    /* right: 50px; */
    /* top: 10px; */
    /* left: 20px; */
    bottom: 20px;
    right: -50px;

}

.green{
    width: 100px;
    height: 100px;
    background-color: coral;
}